### Projeto — *Funções Adicionais*

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_obesity = pd.read_csv('data/obesity_cleaned.csv')

In [3]:
df_obesity

       Unnamed: 0      Country  Year       Obesity (%)         Sex
0               0  Afghanistan  1975     0.5 [0.2-1.1]  Both sexes
1               1  Afghanistan  1975     0.2 [0.0-0.6]        Male
2               2  Afghanistan  1975     0.8 [0.2-2.0]      Female
3               3  Afghanistan  1976     0.5 [0.2-1.1]  Both sexes
4               4  Afghanistan  1976     0.2 [0.0-0.7]        Male
...           ...          ...   ...               ...         ...
24565       24565     Zimbabwe  2015     4.5 [2.4-7.6]        Male
24566       24566     Zimbabwe  2015  24.8 [18.9-31.3]      Female
24567       24567     Zimbabwe  2016  15.5 [12.0-19.2]  Both sexes
24568       24568     Zimbabwe  2016     4.7 [2.5-8.0]        Male
24569       24569     Zimbabwe  2016  25.3 [19.1-32.0]      Female

[24570 rows x 5 columns]

### to_frame() ou []

In [4]:
type(df_obesity['Sex'])

pandas.core.series.Series

In [5]:
type(df_obesity['Sex'].to_frame())

pandas.core.frame.DataFrame

### transpose

In [7]:
df_obesity[['Sex']].transpose()

,0,1,2,3,4,5,6,7,8,9,...,24560,24561,24562,24563,24564,24565,24566,24567,24568,24569
Sex,Both sexes,Male,Female,Both sexes,Male,Female,Both sexes,Male,Female,Both sexes,...,Female,Both sexes,Male,Female,Both sexes,Male,Female,Both sexes,Male,Female

### shift()

In [8]:
df_obesity[['Year']].shift(1)

         Year
0         NaN
1      1975.0
2      1975.0
3      1975.0
4      1976.0
...       ...
24565  2015.0
24566  2015.0
24567  2015.0
24568  2016.0
24569  2016.0

[24570 rows x 1 columns]

In [9]:
df_obesity[['Year']] - df_obesity[['Year']].shift(1)

       Year
0       NaN
1       0.0
2       0.0
3       1.0
4       0.0
...     ...
24565   0.0
24566   0.0
24567   1.0
24568   0.0
24569   0.0

[24570 rows x 1 columns]

*Muito importante quando houver o cálculo de variações.*

### isin()

In [10]:
df_obesity['Year'].isin([1900, 1901, 1975])

0         True
1         True
2         True
3        False
4        False
         ...
24565    False
24566    False
24567    False
24568    False
24569    False
Name: Year, Length: 24570, dtype: bool

Retorna uma Series booleana que informará seus os valores de Year estão presentes na lista especificada.

### Values

In [11]:
df_obesity['Year'].values

array([1975, 1975, 1975, ..., 2016, 2016, 2016], dtype=int64)

In [12]:
df_obesity.values

array([[0, 'Afghanistan', 1975, '0.5 [0.2-1.1]', 'Both sexes'],
       [1, 'Afghanistan', 1975, '0.2 [0.0-0.6]', 'Male'],
       [2, 'Afghanistan', 1975, '0.8 [0.2-2.0]', 'Female'],
       ...,
       [24567, 'Zimbabwe', 2016, '15.5 [12.0-19.2]', 'Both sexes'],
       [24568, 'Zimbabwe', 2016, '4.7 [2.5-8.0]', 'Male'],
       [24569, 'Zimbabwe', 2016, '25.3 [19.1-32.0]', 'Female']],
      dtype=object)

Só retorna os valores.

### iterrows()

In [13]:
for idx, row in df_obesity.iterrows():
    print(idx, row)
    break

0 Unnamed: 0                 0
Country          Afghanistan
Year                    1975
Obesity (%)    0.5 [0.2-1.1]
Sex               Both sexes
Name: 0, dtype: object

Mostra o índice e as linhas.

### to_dict()

In [15]:
df_obesity.set_index('Year').to_dict()['Country']

{1975: 'Zimbabwe',
 1976: 'Zimbabwe',
 1977: 'Zimbabwe',
 1978: 'Zimbabwe',
 1979: 'Zimbabwe',
 1980: 'Zimbabwe',
 1981: 'Zimbabwe',
 1982: 'Zimbabwe',
 1983: 'Zimbabwe',
 1984: 'Zimbabwe',
 1985: 'Zimbabwe',
 1986: 'Zimbabwe',
 1987: 'Zimbabwe',
 1988: 'Zimbabwe',
 1989: 'Zimbabwe',
 1990: 'Zimbabwe',
 1991: 'Zimbabwe',
 1992: 'Zimbabwe',
 1993: 'Zimbabwe',
 1994: 'Zimbabwe',
 1995: 'Zimbabwe',
 1996: 'Zimbabwe',
 1997: 'Zimbabwe',
 1998: 'Zimbabwe',
 1999: 'Zimbabwe',
 2000: 'Zimbabwe',
 2001: 'Zimbabwe',
 2002: 'Zimbabwe',
 2003: 'Zimbabwe',
 2004: 'Zimbabwe',
 2005: 'Zimbabwe',
 2006: 'Zimbabwe',
 2007: 'Zimbabwe',
 2008: 'Zimbabwe',
 2009: 'Zimbabwe',
 2010: 'Zimbabwe',
 2011: 'Zimbabwe',
 2012: 'Zimbabwe',
 2013: 'Zimbabwe',
 2014: 'Zimbabwe',
 2015: 'Zimbabwe',
 2016: 'Zimbabwe'}