## Análise do Preço da Gasolina no Brasil:

Link para Dataset: https://www.kaggle.com/datasets/matheusfreitag/gas-prices-in-brazil

In [63]:
import pandas as pd

#### 1. Carregue os conjuntos de dados `gasolina_2000+.csv` e `gasolina_2010+.csv` em dois DataFrames diferentes e combine-os em um único DataFrame.

In [64]:
df1 = pd.read_csv('data/gasolina_2000+.csv', 
    index_col=[0], 
)

df2 = pd.read_csv('data/gasolina_2010+.csv',
    index_col=[0],
)

df = pd.concat([df1, df2])

C:\Users\welli\AppData\Local\Temp\ipykernel_10400\577574874.py:5: DtypeWarning: Columns (12,14,15,16,17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv('data/gasolina_2010+.csv',

#### 2.Investigue as colunas e entenda o conjunto de dados usando o head() e info()

In [65]:
df.head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 120823 entries, 0 to 120822
Data columns (total 18 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   DATA INICIAL                   120823 non-null  object
 1   DATA FINAL                     120823 non-null  object
 2   REGIÃO                         120823 non-null  object
 3   ESTADO                         120823 non-null  object
 4   PRODUTO                        120823 non-null  object
 5   NÚMERO DE POSTOS PESQUISADOS   120823 non-null  int64
 6   UNIDADE DE MEDIDA              120823 non-null  object
 7   PREÇO MÉDIO REVENDA            120823 non-null  float64
 8   DESVIO PADRÃO REVENDA          120823 non-null  float64
 9   PREÇO MÍNIMO REVENDA           120823 non-null  float64
 10  PREÇO MÁXIMO REVENDA           120823 non-null  float64
 11  MARGEM MÉDIA REVENDA           120823 non-null  object
 12  COEF DE VARIAÇÃO REVENDA       120823 non-null  float64
 13  PREÇO MÉDIO DISTRIBUIÇÃO       120823 non-null  object
 14  DESVIO PADRÃO DISTRIBUIÇÃO     120823 non-null  object
 15  PREÇO MÍNIMO DISTRIBUIÇÃO      120823 non-null  object
 16  PREÇO MÁXIMO DISTRIBUIÇÃO      120823 non-null  object
 17  COEF DE VARIAÇÃO DISTRIBUIÇÃO  120823 non-null  object
dtypes: float64(5), int64(1), object(12)
memory usage: 17.5+ MB

#### 3. Selecione a terceira entrada da coluna DATA INICIAL e verifique seu tipo.

In [67]:
type(df['DATA FINAL'].iloc[2])

str

#### 4. Você deve ter percebido que as colunas DATA INICIAL e DATA FINAL estão formatadas como string. Utilizando o método pd.to_datetime(), converta ambas colunas para Timestamp / Datetime.

In [68]:
df['DATA INICIAL'] = pd.to_datetime(df['DATA INICIAL'])
df['DATA FINAL'] = pd.to_datetime(df['DATA FINAL'])

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 120823 entries, 0 to 120822
Data columns (total 18 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   DATA INICIAL                   120823 non-null  datetime64[ns]
 1   DATA FINAL                     120823 non-null  datetime64[ns]
 2   REGIÃO                         120823 non-null  object
 3   ESTADO                         120823 non-null  object
 4   PRODUTO                        120823 non-null  object
 5   NÚMERO DE POSTOS PESQUISADOS   120823 non-null  int64
 6   UNIDADE DE MEDIDA              120823 non-null  object
 7   PREÇO MÉDIO REVENDA            120823 non-null  float64
 8   DESVIO PADRÃO REVENDA          120823 non-null  float64
 9   PREÇO MÍNIMO REVENDA           120823 non-null  float64
 10  PREÇO MÁXIMO REVENDA           120823 non-null  float64
 11  MARGEM MÉDIA REVENDA           120823 non-null  object
 12  COEF DE VARIAÇÃO REVENDA       120823 non-null  float64
 13  PREÇO MÉDIO DISTRIBUIÇÃO       120823 non-null  object
 14  DESVIO PADRÃO DISTRIBUIÇÃO     120823 non-null  object
 15  PREÇO MÍNIMO DISTRIBUIÇÃO      120823 non-null  object
 16  PREÇO MÁXIMO DISTRIBUIÇÃO      120823 non-null  object
 17  COEF DE VARIAÇÃO DISTRIBUIÇÃO  120823 non-null  object
dtypes: datetime64[ns](2), float64(5), int64(1), object(10)
memory usage: 17.5+ MB

#### 5. Crie uma nova coluna para representar o ano e o mês(aaaa-mm), utilizando a coluna DATA FINAL como referência.

In [69]:
df['ANO-MÊS'] = df['DATA FINAL'].apply(lambda x: f'{x.year}') + df['DATA FINAL'].apply(lambda x: f'-{x.month:02d}')
df

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,ANO-MÊS
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,2004-05
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,2004-05
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,2004-05
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,2004-05
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.050,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,2004-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120818,2021-04-25,2021-05-01,NORTE,RORAIMA,OLEO DIESEL S10,12,R$/l,4.582,0.056,4.510,4.690,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
120819,2021-04-25,2021-05-01,SUL,SANTA CATARINA,OLEO DIESEL S10,100,R$/l,4.141,0.187,3.838,4.739,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
120820,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,5.199,-99999.0,0.051,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
120821,2021-04-25,2021-05-01,NORDESTE,SERGIPE,OLEO DIESEL S10,33,R$/l,4.464,0.205,4.190,4.699,-99999.0,0.046,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
120822,2021-04-25,2021-05-01,NORTE,TOCANTINS,OLEO DIESEL S10,18,R$/l,4.352,0.156,4.199,4.699,-99999.0,0.036,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05

#### 6. Utilizando o `value_counts()`, liste todos os tipos de produtos contidos na base de dados.

In [70]:
df[['PRODUTO']].value_counts()

PRODUTO
GASOLINA COMUM        23570
GLP                   23561
ETANOL HIDRATADO      23440
ÓLEO DIESEL           21194
GNV                   14469
ÓLEO DIESEL S10        9113
OLEO DIESEL S10        2376
OLEO DIESEL            2351
GASOLINA ADITIVADA      749
Name: count, dtype: int64

#### 7. Filtre o DataFrame para obter apenas dados da 'Gasolina Comum'. Grave em uma nova variável.

In [71]:
gas = df[df['PRODUTO'] == 'GASOLINA COMUM']
gas

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,ANO-MÊS
12064,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,GASOLINA COMUM,128,R$/l,2.029,0.007,1.990,2.070,0.318,0.003,1.711,0.02,1.651,1.7427,0.012,2004-05
12065,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,GASOLINA COMUM,395,R$/l,2.025,0.062,1.850,2.220,0.296,0.031,1.729,0.036,1.6643,1.915,0.021,2004-05
12066,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,GASOLINA COMUM,194,R$/l,2.358,0.066,2.000,2.540,0.472,0.028,1.886,0.068,1.75,2.0713,0.036,2004-05
12067,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,GASOLINA COMUM,166,R$/l,2.120,0.075,1.970,2.440,0.325,0.035,1.795,0.033,1.70701,1.9703,0.018,2004-05
12068,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,GASOLINA COMUM,106,R$/l,2.090,0.034,2.000,2.159,0.35,0.016,1.74,0.042,1.6789,1.918,0.024,2004-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120721,2021-04-25,2021-05-01,NORTE,RORAIMA,GASOLINA COMUM,12,R$/l,5.364,0.065,5.310,5.530,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
120722,2021-04-25,2021-05-01,SUL,SANTA CATARINA,GASOLINA COMUM,119,R$/l,5.051,0.251,4.640,5.599,-99999.0,0.050,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
120723,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,GASOLINA COMUM,1187,R$/l,5.265,0.218,4.279,6.099,-99999.0,0.041,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
120724,2021-04-25,2021-05-01,NORDESTE,SERGIPE,GASOLINA COMUM,34,R$/l,5.586,0.088,5.410,5.699,-99999.0,0.016,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
120725,2021-04-25,2021-05-01,NORTE,TOCANTINS,GASOLINA COMUM,20,R$/l,5.751,0.160,5.578,6.119,-99999.0,0.028,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05

#### 8. Qual o preço médio de revenda da gasolina em agosto de 2008?

In [72]:
gas[gas['ANO-MÊS'] == '2008-08']['PREÇO MÉDIO REVENDA'].mean().round(3)

2.601

#### 9. Qual o preço médio de revenda da gasolina em maio de 2014 em São Paulo?

In [73]:
gas[(gas['ANO-MÊS'] == '2014-05') & (gas['ESTADO'] == 'SAO PAULO')]['PREÇO MÉDIO REVENDA'].mean().round(3)

2.882

#### 10. Você conseguiria descobrir em qual(quais) estado(s) a gasolina ultrapassou a barreira dos R$ 5,00? E quando isso ocorreu?

In [74]:
gas[gas['PREÇO MÉDIO REVENDA'] > 5.0][['ESTADO', 'ANO-MÊS', 'PREÇO MÉDIO REVENDA']].head(5)

               ESTADO  ANO-MÊS  PREÇO MÉDIO REVENDA
98201            ACRE  2018-05                5.053
98347            ACRE  2018-06                5.035
98493            ACRE  2018-06                5.038
98511  RIO DE JANEIRO  2018-06                5.016
98646            ACRE  2018-06                5.031

#### 11. Qual a média de preço dos estados da região sul em 2012?

In [75]:
df_aux = df[df['DATA FINAL'].apply(lambda x: x.year) == 2012]
df_aux = df_aux[df_aux['REGIÃO'] == 'SUL']['PREÇO MÉDIO REVENDA'].mean().round(3)
df_aux

9.842

#### 12. Você conseguiria obter uma tabela contendo a variação percentual ano a ano para o estado do Rio de Janeiro?

In [76]:
df['MÊS'] = df['DATA FINAL'].apply(lambda x: x.month)
df_rj = df[df['ESTADO'] == 'RIO DE JANEIRO']

In [77]:
df_month_rio = df_rj.groupby('ANO-MÊS')[['PREÇO MÉDIO REVENDA', 'MÊS']].last()

In [78]:
(df_month_rio[df_month_rio['MÊS'] == 12] / df_month_rio[df_month_rio['MÊS'] == 12].shift(1) - 1) * 100

         PREÇO MÉDIO REVENDA  MÊS
ANO-MÊS
2004-12                  NaN  NaN
2005-12            12.338063  0.0
2006-12            -0.878638  0.0
2007-12             0.720222  0.0
2008-12            14.466447  0.0
2009-12            -4.949543  0.0
2010-12             0.202224  0.0
2011-12             1.261352  0.0
2012-12             5.630294  0.0
2013-12           -21.084906  0.0
2014-12             7.770472  0.0
2015-12            17.304493  0.0
2016-12            -2.269504  0.0
2017-12             9.869376  0.0
2018-12            35.358873  0.0
2019-12            24.951204  0.0
2020-12            -1.483989  0.0

#### **DESAFIO**: Crie uma tabela contendo uma serie temporal com a diferença absoluta e percentual entre os valores mais baratos e caros. Apresente também ao lado os estados na qual os maiores e menores preços foram registrados.

In [79]:
df_max = df.groupby('ANO-MÊS')['PREÇO MÉDIO REVENDA'].max()
df_min = df.groupby('ANO-MÊS')['PREÇO MÉDIO REVENDA'].min()

In [80]:
df_diff = pd.DataFrame()

In [81]:
df_diff['abs_diff'] = df_max - df_min
df_diff['percent_diff'] = (df_max - df_min) / df_min * 100

idx_max = df.groupby('ANO-MÊS')['PREÇO MÉDIO REVENDA'].idxmax()
idx_min = df.groupby('ANO-MÊS')['PREÇO MÉDIO REVENDA'].idxmin()

In [82]:
df_diff['max'] = df_max
df_diff['min'] = df_min

In [83]:
df_diff

         abs_diff  percent_diff      max    min
ANO-MÊS
2004-05    38.562   5034.203655   39.328  0.766
2004-06    38.159   4302.029312   39.046  0.887
2004-07    38.182   4247.163515   39.081  0.899
2004-08    38.053   3809.109109   39.052  0.999
2004-09    38.031   3806.906907   39.030  0.999
...           ...           ...      ...    ...
2021-01    95.521   3539.125602   98.220  2.699
2021-02    98.645   3524.294391  101.444  2.799
2021-03   104.751   3810.512914  107.500  2.749
2021-04   102.370   3625.000000  105.194  2.824
2021-05   101.091   3579.709632  103.915  2.824

[204 rows x 4 columns]

In [86]:
df_diff['ESTADO_MAX'] = df.loc[idx_max, :]['ESTADO'].values
df_diff['ESTADO_MIN'] = df.loc[idx_min, :]['ESTADO'].values

In [88]:
df_diff

         abs_diff  percent_diff      max    min   ESTADO_MAX   ESTADO_MIN
ANO-MÊS
2004-05    38.562   5034.203655   39.328  0.766         ACRE    SAO PAULO
2004-06    38.159   4302.029312   39.046  0.887         ACRE    SAO PAULO
2004-07    38.182   4247.163515   39.081  0.899         ACRE    SAO PAULO
2004-08    38.053   3809.109109   39.052  0.999         ACRE   PERNAMBUCO
2004-09    38.031   3806.906907   39.030  0.999         ACRE   PERNAMBUCO
...           ...           ...      ...    ...          ...          ...
2021-01    95.521   3539.125602   98.220  2.699  MATO GROSSO  MATO GROSSO
2021-02    98.645   3524.294391  101.444  2.799        AMAPA  MATO GROSSO
2021-03   104.751   3810.512914  107.500  2.749         ACRE  MATO GROSSO
2021-04   102.370   3625.000000  105.194  2.824  MATO GROSSO  MATO GROSSO
2021-05   101.091   3579.709632  103.915  2.824  MATO GROSSO  MATO GROSSO

[204 rows x 6 columns]

In [89]:
df_diff['ESTADO_MAX'].value_counts()

ESTADO_MAX
MATO GROSSO    192
ACRE            11
AMAPA            1
Name: count, dtype: int64

In [90]:
df_diff['ESTADO_MIN'].value_counts()

ESTADO_MIN
SAO PAULO              100
RIO DE JANEIRO          30
MATO GROSSO             26
SANTA CATARINA          17
PERNAMBUCO              10
PARANA                   8
RIO GRANDE DO NORTE      5
ESPIRITO SANTO           5
MINAS GERAIS             1
GOIAS                    1
BAHIA                    1
Name: count, dtype: int64