### Obesity

Link para Dataset: [Obesity among adults by country, 1975-2016](https://www.kaggle.com/amanarora/obesity-among-adults-by-country-19752016/)

Tais conjuntos de dados são públicos e foram publicados no Kaggle. Mais instruções sobre cada um deles podem ser encontrados nos links acima.

In [1]:
import pandas as pd
import numpy as np

### Perguntas:

In [27]:
df_obesity = pd.read_csv('data/obesity_cleaned.csv')
df_obesity.head(5)

   Unnamed: 0      Country  Year    Obesity (%)         Sex
0           0  Afghanistan  1975  0.5 [0.2-1.1]  Both sexes
1           1  Afghanistan  1975  0.2 [0.0-0.6]        Male
2           2  Afghanistan  1975  0.8 [0.2-2.0]      Female
3           3  Afghanistan  1976  0.5 [0.2-1.1]  Both sexes
4           4  Afghanistan  1976  0.2 [0.0-0.7]        Male

#### Limpe os dados do DataFrame, criando uma coluna de nome 'Obesity' que conterá os valores de obesidade. Transforme em float as colunas que porventura foram importadas como string.

In [28]:
# Limpeza de Dados
del df_obesity['Unnamed: 0']
df_obesity['Obesity'] = df_obesity['Obesity (%)'].apply(lambda x: x.split(" ")[0])
df_obesity.loc[df_obesity['Obesity'] == 'No', 'Obesity'] = np.nan
df_obesity.dropna(inplace=True)

# Convertendo para numérico
df_obesity['Obesity'] = pd.to_numeric(df_obesity['Obesity'])
df_obesity['Year'] = df_obesity['Year'].apply(lambda x: int(x))

df_obesity.set_index('Year', inplace=True)

df_obesity.head(5)

          Country    Obesity (%)         Sex  Obesity
Year
1975  Afghanistan  0.5 [0.2-1.1]  Both sexes      0.5
1975  Afghanistan  0.2 [0.0-0.6]        Male      0.2
1975  Afghanistan  0.8 [0.2-2.0]      Female      0.8
1976  Afghanistan  0.5 [0.2-1.1]  Both sexes      0.5
1976  Afghanistan  0.2 [0.0-0.7]        Male      0.2

In [29]:
df_obesity.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24066 entries, 1975 to 2016
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Country      24066 non-null  object
 1   Obesity (%)  24066 non-null  object
 2   Sex          24066 non-null  object
 3   Obesity      24066 non-null  float64
dtypes: float64(1), object(3)
memory usage: 940.1+ KB

#### Qual o percentual médio de obesidade por sexo no mundo no ano de 2015?

In [34]:
df_obesity[df_obesity.index == 2015].groupby('Sex')[['Obesity']].mean()

              Obesity
Sex
Both sexes  19.508377
Female      22.899476
Male        15.980628

#### Quais são os 5 países com a maior e a menor taxa de aumento nos índices de obesidade no período observado?

In [47]:
df_obesity_aux = df_obesity.copy()
df_obesity_aux.reset_index()
df_obesity_aux.set_index('Country', inplace=True)

                   Obesity
Country
Viet Nam               2.6
Cambodia               4.8
Republic of Korea      4.8
Japan                  4.8
Timor-Leste            4.9
...                    ...
Tuvalu                56.2
Marshall Islands      57.3
Palau                 58.8
Cook Islands          59.2
Nauru                 63.3

[191 rows x 1 columns]

In [49]:
# 5 maiores taxas de aumento
df_obesity_aux.groupby('Country')[['Obesity']].max().sort_values(by=['Obesity'], ascending=False).head(5)

                  Obesity
Country
Nauru                63.3
Cook Islands         59.2
Palau                58.8
Marshall Islands     57.3
Tuvalu               56.2

In [50]:
# 5 menores taxas de aumento
df_obesity_aux.groupby('Country')[['Obesity']].max().sort_values(by=['Obesity'], ascending=True).head(5)

                   Obesity
Country
Viet Nam               2.6
Cambodia               4.8
Republic of Korea      4.8
Japan                  4.8
Timor-Leste            4.9

#### Quais os países com maiores e menores níveis percetuais de obesidade em 2015?

In [52]:
df_2015 = df_obesity[df_obesity.index == 2015].copy()
df_2015[df_2015['Obesity'] == df_2015['Obesity'].max()]

     Country       Obesity (%)     Sex  Obesity
Year
2015   Nauru  63.1 [55.5-70.3]  Female     63.1

In [53]:
df_2015[df_2015['Obesity'] == df_2015['Obesity'].min()]

       Country    Obesity (%)   Sex  Obesity
Year
2015  Viet Nam  1.5 [0.8-2.5]  Male      1.5