## Demographic Data Analyzer

In [29]:
import pandas as pd

df = pd.read_csv('data/adult_data.csv')
df.head(5)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

#### How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)

In [30]:
df.value_counts(df['race'])

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

#### What is the average age of men?

In [31]:
df[df['sex'] == 'Male']['age'].mean().round(1)

39.4

#### What is the percentage of people who have a Bachelor's degree?

In [32]:
((df.value_counts(df['education'] == 'Bachelors').values[1] / df.value_counts(df['education']).sum()) * 100).round(3)

16.446

#### What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

In [33]:
((df[(df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])) & (df['salary'] == '>50K')].value_counts().sum() / df[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])].value_counts().sum()) * 100).round(1)

46.5

#### What percentage of people without advanced education make more than 50K?

In [43]:
df_aux = df[~(df['education'].isin(['Bachelors', 'Masters', 'Doctorate']))]

((df_aux[df['salary'] == '>50K'].value_counts().sum() / df_aux.value_counts().sum()) * 100).round(1)

C:\Users\welli\AppData\Local\Temp\ipykernel_39752\1463361002.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  ((df_aux[df['salary'] == '>50K'].value_counts().sum() / df_aux.value_counts().sum()) * 100).round(1)

17.4

#### What is the minimum number of hours a person works per week?

In [44]:
min_workers = df['hours-per-week'].min()

#### What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

In [46]:
((df[(df['hours-per-week'] == min_workers) & (df['salary'] == '>50K')].value_counts().sum() / df[df['hours-per-week'] == min_workers].value_counts().sum()) * 100).round(4)

10.0

#### What country has the highest percentage of people that earn >50K and what is that percentage?

In [50]:
country_count = df['native-country'].value_counts()
country_rich_count = df[df['salary'] == '>50K']['native-country'].value_counts()

In [55]:
((country_rich_count / country_count) * 100).idxmax()

'Iran'

In [57]:
((country_rich_count / country_count) * 100).sort_values(ascending=False).values[0].round(1)

41.9

#### Identify the most popular occupation for those who earn >50K in India.

In [37]:
df_india = df[(df['native-country'] == 'India') & (df['salary'] == '>50K')]
df_india['occupation'].value_counts().idxmax()

'Prof-specialty'