<a href="https://colab.research.google.com/github/tomosantos/data-science/blob/main/sql/SQL_Analytics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Int_SQL_Data_Analytics_Course/blob/main/Resources/Blank_SQL_Notebook.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Blank SQL Notebook

#### Import Libraries & Database

In [27]:
import sys
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# If running in Google Colab, install PostgreSQL and restore the database
if 'google.colab' in sys.modules:
    # Install PostgreSQL
    !sudo apt-get install postgresql -qq > /dev/null 2>&1

    # Start PostgreSQL service (suppress output)
    !sudo service postgresql start > /dev/null 2>&1

    # Set password for the 'postgres' user to avoid authentication errors (suppress output)
    !sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'password';" > /dev/null 2>&1

    # Create the 'colab_db' database (suppress output)
    !sudo -u postgres psql -c "CREATE DATABASE contoso_100k;" > /dev/null 2>&1

    # Download the PostgreSQL .sql dump
    !wget -q -O contoso_100k.sql https://github.com/lukebarousse/Int_SQL_Data_Analytics_Course/releases/download/v.0.0.0/contoso_100k.sql

    # Restore the dump file into the PostgreSQL database (suppress output)
    !sudo -u postgres psql contoso_100k < contoso_100k.sql > /dev/null 2>&1

    # Shift libraries from ipython-sql to jupysql
    !pip uninstall -y ipython-sql > /dev/null 2>&1
    !pip install jupysql > /dev/null 2>&1

# Load the sql extension for SQL magic
%load_ext sql

# Connect to the PostgreSQL database
%sql postgresql://postgres:password@localhost:5432/contoso_100k

# Enable automatic conversion of SQL results to pandas DataFrames
%config SqlMagic.autopandas = True

# Disable named parameters for SQL magic
%config SqlMagic.named_parameters = "disabled"

# Display pandas number to two decimal places
pd.options.display.float_format = '{:.2f}'.format

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

Connecting and switching to connection 'postgresql://postgres:***@localhost:5432/contoso_100k'

# 1. Visualizing the schema

In [28]:
%%sql

SELECT table_name
FROM information_schema.tables
WHERE table_schema = 'public'

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

6 rows affected.

         table_name
0  currencyexchange
1          customer
2             sales
3              date
4           product
5             store

In [29]:
%%sql

SELECT *
FROM sales
LIMIT 10

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

,orderkey,linenumber,orderdate,deliverydate,customerkey,storekey,productkey,quantity,unitprice,netprice,unitcost,currencycode,exchangerate
0,1000,0,2015-01-01,2015-01-01,947009,400,48,1,112.46,98.97,57.34,GBP,0.64
1,1000,1,2015-01-01,2015-01-01,947009,400,460,1,749.75,659.78,382.25,GBP,0.64
2,1001,0,2015-01-01,2015-01-01,1772036,430,1730,2,54.38,54.38,25.00,USD,1.00
3,1002,0,2015-01-01,2015-01-01,1518349,660,955,4,315.04,286.69,144.88,USD,1.00
4,1002,1,2015-01-01,2015-01-01,1518349,660,62,7,135.75,135.75,62.43,USD,1.00
5,1002,2,2015-01-01,2015-01-01,1518349,660,1050,3,499.20,434.30,229.57,USD,1.00
6,1002,3,2015-01-01,2015-01-01,1518349,660,1608,1,65.99,58.73,33.65,USD,1.00
7,1003,0,2015-01-01,2015-01-01,1317097,510,85,3,74.99,74.99,34.48,USD,1.00
8,1004,0,2015-01-01,2015-01-01,254117,80,128,2,114.72,113.57,58.49,CAD,1.16
9,1004,1,2015-01-01,2015-01-01,254117,80,2079,1,499.45,499.45,165.48,CAD,1.16

In [30]:
%%sql

SELECT *
FROM currencyexchange
LIMIT 10

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

         date fromcurrency tocurrency  exchange
0  2015-01-01          AUD        AUD      1.00
1  2015-01-01          AUD        CAD      0.95
2  2015-01-01          AUD        EUR      0.67
3  2015-01-01          AUD        GBP      0.53
4  2015-01-01          AUD        USD      0.82
5  2015-01-01          CAD        AUD      1.05
6  2015-01-01          CAD        CAD      1.00
7  2015-01-01          CAD        EUR      0.71
8  2015-01-01          CAD        GBP      0.55
9  2015-01-01          CAD        USD      0.86

In [31]:
%%sql

SELECT *
FROM store
LIMIT 10

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

,storekey,storecode,geoareakey,countrycode,countryname,state,opendate,closedate,description,squaremeters,status
0,10,1,1,AU,Australia,Australian Capital Territory,2008-01-01,None,Contoso Store Australian Capital Territory,595.00,None
1,20,2,3,AU,Australia,Northern Territory,2008-01-12,2016-07-07,Contoso Store Northern Territory,665.00,Closed
2,30,3,5,AU,Australia,South Australia,2012-01-07,2015-08-08,Contoso Store South Australia,2000.00,Restructured
3,35,3,5,AU,Australia,South Australia,2015-12-08,None,Contoso Store South Australia,3000.00,None
4,40,4,6,AU,Australia,Tasmania,2010-01-01,None,Contoso Store Tasmania,2000.00,None
5,50,5,7,AU,Australia,Victoria,2015-12-09,None,Contoso Store Victoria,2000.00,None
6,60,6,8,AU,Australia,Western Australia,2010-01-01,None,Contoso Store Western Australia,2000.00,None
7,70,7,12,CA,Canada,New Brunswick,2007-05-07,2014-03-09,Contoso Store New Brunswick,1105.00,Restructured
8,72,7,12,CA,Canada,New Brunswick,2015-01-11,2018-02-02,Contoso Store New Brunswick,1500.00,Restructured
9,74,7,12,CA,Canada,New Brunswick,2018-06-02,None,Contoso Store New Brunswick,3500.00,None

In [32]:
%%sql

SELECT *
FROM product
LIMIT 10

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

,productkey,productcode,productname,manufacturer,brand,color,weightunit,weight,cost,price,categorykey,categoryname,subcategorykey,subcategoryname
0,1,101001,Contoso 512MB MP3 Player E51 Silver,"Contoso, Ltd",Contoso,Silver,ounces,4.80,6.62,12.99,1,Audio,101,MP4&MP3
1,2,101002,Contoso 512MB MP3 Player E51 Blue,"Contoso, Ltd",Contoso,Blue,ounces,4.10,6.62,12.99,1,Audio,101,MP4&MP3
2,3,101003,Contoso 1G MP3 Player E100 White,"Contoso, Ltd",Contoso,White,ounces,4.50,7.40,14.52,1,Audio,101,MP4&MP3
3,4,101004,Contoso 2G MP3 Player E200 Silver,"Contoso, Ltd",Contoso,Silver,ounces,4.50,11.00,21.57,1,Audio,101,MP4&MP3
4,5,101005,Contoso 2G MP3 Player E200 Red,"Contoso, Ltd",Contoso,Red,ounces,2.40,11.00,21.57,1,Audio,101,MP4&MP3
5,6,101006,Contoso 2G MP3 Player E200 Black,"Contoso, Ltd",Contoso,Black,ounces,8.80,11.00,21.57,1,Audio,101,MP4&MP3
6,7,101007,Contoso 2G MP3 Player E200 Blue,"Contoso, Ltd",Contoso,Blue,ounces,2.10,11.00,21.57,1,Audio,101,MP4&MP3
7,8,101008,Contoso 4G MP3 Player E400 Silver,"Contoso, Ltd",Contoso,Silver,ounces,5.60,30.58,59.99,1,Audio,101,MP4&MP3
8,9,101009,Contoso 4G MP3 Player E400 Black,"Contoso, Ltd",Contoso,Black,ounces,2.10,30.58,59.99,1,Audio,101,MP4&MP3
9,10,101010,Contoso 4G MP3 Player E400 Green,"Contoso, Ltd",Contoso,Green,ounces,11.00,30.58,59.99,1,Audio,101,MP4&MP3

In [33]:
%%sql

SELECT *
FROM customer
LIMIT 10

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

,customerkey,geoareakey,startdt,enddt,continent,gender,title,givenname,middleinitial,surname,...,zipcode,country,countryfull,birthday,age,occupation,company,vehicle,latitude,longitude
0,15,4,1990-09-10,2034-07-29,Australia,male,Mr.,Julian,A,McGuigan,...,4357,AU,Australia,1965-03-24,55,Border Patrol agent,Cut Rite Lawn Care,2000 Peugeot Kart Up,-27.83,151.17
1,23,8,1995-08-11,2045-01-26,Australia,female,Ms.,Rose,H,Dash,...,6055,AU,Australia,1990-05-10,30,Agricultural and food scientist,Rack N Sack,2005 Volvo XC90,-31.92,116.05
2,36,2,1992-03-12,2044-05-14,Australia,female,Ms.,Annabelle,J,Townsend,...,2304,AU,Australia,1964-07-16,56,Special education teacher,id Boutiques,1999 Lancia Lybra,-32.88,151.71
3,120,6,1983-07-23,2033-08-09,Australia,male,Mr.,Jamie,H,Hetherington,...,7256,AU,Australia,1946-12-11,74,Dental laboratory technician,Showbiz Pizza Place,2006 Dodge Durango,-39.77,144.02
4,180,7,1987-11-26,2026-10-14,Australia,male,Mr.,Gabriel,P,Bosanquet,...,3505,AU,Australia,1955-04-24,65,Administrative support specialist,Dubrow's Cafeteria,1995 Morgan Plus 4,-34.13,142.14
5,185,2,1990-08-01,2029-05-28,Australia,female,Mrs.,Gabrielle,B,Castella,...,2469,AU,Australia,1980-02-23,40,Management dietitian,d.e.m.o.,1997 Alpina B6,-29.01,152.84
6,189,7,2008-07-05,2017-11-01,Australia,female,Ms.,Hayley,C,Jull,...,3377,AU,Australia,1960-04-18,60,Sculptor,Asian Plan,2006 Alpina B5,-37.34,142.91
7,210,2,1980-09-28,2030-05-08,Australia,female,Mrs.,Natalie,L,Hilder,...,2632,AU,Australia,1950-11-23,70,Motel desk clerk,Enrich Garden Services,1995 Ford Fairlane,-36.84,149.05
8,225,7,1985-06-25,2017-09-25,Australia,male,Mr.,Hunter,J,Hutchins,...,3763,AU,Australia,1978-07-20,42,Teletype operator,Mr. Good Buys,2012 Lexus GX,-37.51,145.44
9,243,2,1982-02-07,2027-02-09,Australia,female,Ms.,Maya,J,Atherton,...,2446,AU,Australia,1954-05-15,66,Pilates instructor,Franklin Music,1995 Chevrolet Caprice,-31.36,152.39

In [34]:
%%sql

SELECT *
FROM information_schema.columns
WHERE table_name = 'customer'

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

24 rows affected.

,table_catalog,table_schema,table_name,column_name,ordinal_position,column_default,is_nullable,data_type,character_maximum_length,character_octet_length,...,is_identity,identity_generation,identity_start,identity_increment,identity_maximum,identity_minimum,identity_cycle,is_generated,generation_expression,is_updatable
0,contoso_100k,public,customer,customerkey,1,None,NO,integer,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
1,contoso_100k,public,customer,geoareakey,2,None,YES,integer,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
2,contoso_100k,public,customer,startdt,3,None,YES,date,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
3,contoso_100k,public,customer,enddt,4,None,YES,date,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
4,contoso_100k,public,customer,birthday,18,None,YES,date,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
5,contoso_100k,public,customer,age,19,None,YES,integer,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
6,contoso_100k,public,customer,latitude,23,None,YES,double precision,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
7,contoso_100k,public,customer,longitude,24,None,YES,double precision,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
8,contoso_100k,public,customer,middleinitial,9,None,YES,character varying,5.00,20.00,...,NO,None,None,None,None,None,NO,NEVER,None,YES
9,contoso_100k,public,customer,surname,10,None,YES,character varying,50.00,200.00,...,NO,None,None,None,None,None,NO,NEVER,None,YES
10,contoso_100k,public,customer,streetaddress,11,None,YES,character varying,100.00,400.00,...,NO,None,None,None,None,None,NO,NEVER,None,YES
11,contoso_100k,public,customer,city,12,None,YES,character varying,50.00,200.00,...,NO,None,None,None,None,None,NO,NEVER,None,YES
12,contoso_100k,public,customer,state,13,None,YES,character varying,50.00,200.00,...,NO,None,None,None,None,None,NO,NEVER,None,YES
13,contoso_100k,public,customer,statefull,14,None,YES,character varying,100.00,400.00,...,NO,None,None,None,None,None,NO,NEVER,None,YES
14,contoso_100k,public,customer,zipcode,15,None,YES,character varying,20.00,80.00,...,NO,None,None,None,None,None,NO,NEVER,None,YES
15,contoso_100k,public,customer,country,16,None,YES,character varying,50.00,200.00,...,NO,None,None,None,None,None,NO,NEVER,None,YES
16,contoso_100k,public,customer,countryfull,17,None,YES,character varying,100.00,400.00,...,NO,None,None,None,None,None,NO,NEVER,None,YES
17,contoso_100k,public,customer,company,21,None,YES,character varying,100.00,400.00,...,NO,None,None,None,None,None,NO,NEVER,None,YES
18,contoso_100k,public,customer,vehicle,22,None,YES,character varying,100.00,400.00,...,NO,None,None,None,None,None,NO,NEVER,None,YES
19,contoso_100k,public,customer,occupation,20,None,YES,character varying,100.00,400.00,...,NO,None,None,None,None,None,NO,NEVER,None,YES
20,contoso_100k,public,customer,continent,5,None,YES,character varying,50.00,200.00,...,NO,None,None,None,None,None,NO,NEVER,None,YES
21,contoso_100k,public,customer,gender,6,None,YES,character varying,10.00,40.00,...,NO,None,None,None,None,None,NO,NEVER,None,YES
22,contoso_100k,public,customer,title,7,None,YES,character varying,20.00,80.00,...,NO,None,None,None,None,None,NO,NEVER,None,YES
23,contoso_100k,public,customer,givenname,8,None,YES,character varying,50.00,200.00,...,NO,None,None,None,None,None,NO,NEVER,None,YES

In [35]:
%%sql

SELECT *
FROM date
LIMIT 10

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

,date,datekey,year,yearquarter,yearquarternumber,quarter,yearmonth,yearmonthshort,yearmonthnumber,month,monthshort,monthnumber,dayofweek,dayofweekshort,dayofweeknumber,workingday,workingdaynumber
0,2015-01-01,20150101,2015,Q1-2015,8061,Q1,January 2015,Jan 2015,24181,January,Jan,1,Thursday,Thu,5,0,0
1,2015-01-02,20150102,2015,Q1-2015,8061,Q1,January 2015,Jan 2015,24181,January,Jan,1,Friday,Fri,6,1,1
2,2015-01-03,20150103,2015,Q1-2015,8061,Q1,January 2015,Jan 2015,24181,January,Jan,1,Saturday,Sat,7,0,1
3,2015-01-04,20150104,2015,Q1-2015,8061,Q1,January 2015,Jan 2015,24181,January,Jan,1,Sunday,Sun,1,0,1
4,2015-01-05,20150105,2015,Q1-2015,8061,Q1,January 2015,Jan 2015,24181,January,Jan,1,Monday,Mon,2,1,2
5,2015-01-06,20150106,2015,Q1-2015,8061,Q1,January 2015,Jan 2015,24181,January,Jan,1,Tuesday,Tue,3,1,3
6,2015-01-07,20150107,2015,Q1-2015,8061,Q1,January 2015,Jan 2015,24181,January,Jan,1,Wednesday,Wed,4,1,4
7,2015-01-08,20150108,2015,Q1-2015,8061,Q1,January 2015,Jan 2015,24181,January,Jan,1,Thursday,Thu,5,1,5
8,2015-01-09,20150109,2015,Q1-2015,8061,Q1,January 2015,Jan 2015,24181,January,Jan,1,Friday,Fri,6,1,6
9,2015-01-10,20150110,2015,Q1-2015,8061,Q1,January 2015,Jan 2015,24181,January,Jan,1,Saturday,Sat,7,0,6

# 2. Database Investigation

## a. Calculating Net Revenue

In [36]:
%%sql

SELECT
  orderdate,
  quantity * netprice * exchangerate AS net_revenue
FROM sales
LIMIT 10

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

    orderdate  net_revenue
0  2015-01-01        63.49
1  2015-01-01       423.28
2  2015-01-01       108.75
3  2015-01-01      1146.75
4  2015-01-01       950.25
5  2015-01-01      1302.91
6  2015-01-01        58.73
7  2015-01-01       224.98
8  2015-01-01       263.11
9  2015-01-01       578.52

## b. Recent Sales >= 2020

In [37]:
%%sql

SELECT
  orderdate,
  quantity * netprice * exchangerate AS net_revenue
FROM sales
WHERE orderdate::DATE >= '2020-01-01'
LIMIT 10

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

    orderdate  net_revenue
0  2020-01-01        99.47
1  2020-01-01       139.97
2  2020-01-01       669.39
3  2020-01-01      4090.60
4  2020-01-01       237.15
5  2020-01-01      1507.16
6  2020-01-01       189.35
7  2020-01-01       539.90
8  2020-01-01      5590.00
9  2020-01-01      3580.00

## c. Add Customer Info

In [38]:
%%sql

SELECT
  s.orderdate,
  s.quantity * s.netprice * s.exchangerate AS net_revenue,
  c.givenname,
  c.surname,
  c.countryfull,
  c.continent,
  p.productkey,
  p.productname,
  p.categoryname,
  p.subcategoryname,
  CASE WHEN
    s.quantity * s.netprice * s.exchangerate > 1000 THEN 'HIGH' ELSE 'LOW'
  END AS high_low
FROM sales s
LEFT JOIN customer c ON s.customerkey = c.customerkey
LEFT JOIN product p ON s.productkey = p.productkey
WHERE orderdate::DATE >= '2020-01-01'

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

124451 rows affected.

,orderdate,net_revenue,givenname,surname,countryfull,continent,productkey,productname,categoryname,subcategoryname,high_low
0,2020-01-01,3075.80,David,Stone,United States,North America,1051,"A. Datum SLR Camera 35"" M358 Silver",Cameras and camcorders,Digital SLR Cameras,HIGH
1,2020-01-01,444.34,David,Stone,United States,North America,1709,MGS Gears of War M170,Games and Toys,Download Games,LOW
2,2020-01-01,1187.73,David,Stone,United States,North America,457,WWI Desktop PC1.60 E1600 White,Computers,Desktops,HIGH
3,2020-01-01,36.78,David,Stone,United States,North America,1385,Contoso Multi-line phones M30 Grey,Cell phones,Home & Office Phones,LOW
4,2020-01-01,4.45,David,Stone,United States,North America,1665,MGS Hand Games for 12-16 boys E600 Yellow,Games and Toys,Boxed Games,LOW
...,...,...,...,...,...,...,...,...,...,...,...
124446,2024-04-20,14.35,Guus,Doodeman,Netherlands,Europe,849,Contoso Ultraportable Neoprene Sleeve E30 Green,Computers,Computers Accessories,LOW
124447,2024-04-20,261.32,Guus,Doodeman,Netherlands,Europe,1651,Contoso DVD 9-Inch Player Portable M300 Silver,"Music, Movies and Audio Books",Movie DVD,LOW
124448,2024-04-20,147.78,Michael,Wilson,Canada,North America,1575,SV DVD Player M140 Gold,"Music, Movies and Audio Books",Movie DVD,LOW
124449,2024-04-20,2019.62,Michael,Wilson,Canada,North America,415,Proseware Laptop8.9 E089 White,Computers,Laptops,HIGH
124450,2024-04-20,56.83,Michael,Wilson,Canada,North America,1693,SV Hand Games men M30 Black,Games and Toys,Boxed Games,LOW

## 3. Basic Aggregation

## a. `COUNT()` and `COUNT(DISTINCT)`

In [39]:
%%sql

SELECT
  orderdate,
  COUNT(DISTINCT customerkey) AS total_customers
FROM
  sales
WHERE
  orderdate BETWEEN '2023-01-01' AND '2023-12-31'
GROUP BY
  orderdate
ORDER BY
  orderdate

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

364 rows affected.

      orderdate  total_customers
0    2023-01-01               12
1    2023-01-02               49
2    2023-01-03               64
3    2023-01-04               78
4    2023-01-05               87
..          ...              ...
359  2023-12-27               73
360  2023-12-28               75
361  2023-12-29               55
362  2023-12-30               91
363  2023-12-31                9

[364 rows x 2 columns]

## b. Pivoting with `COUNT()`

In [40]:
%%sql

SELECT DISTINCT
  continent
FROM customer

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

3 rows affected.

       continent
0         Europe
1  North America
2      Australia

In [41]:
%%sql

SELECT
  s.orderdate,
  COUNT(DISTINCT CASE WHEN c.continent = 'Europe' THEN s.customerkey END) AS eu_customers,
  COUNT(DISTINCT CASE WHEN c.continent = 'North America' THEN s.customerkey END) AS na_customers,
  COUNT(DISTINCT CASE WHEN c.continent = 'Australia' THEN s.customerkey END) AS au_customers
FROM
  sales s
LEFT JOIN customer c ON s.customerkey = c.customerkey
WHERE
  s.orderdate BETWEEN '2023-01-01' AND '2023-12-31'
GROUP BY
  s.orderdate
ORDER BY
  s.orderdate

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

364 rows affected.

      orderdate  eu_customers  na_customers  au_customers
0    2023-01-01             6             5             1
1    2023-01-02            15            31             3
2    2023-01-03            17            44             3
3    2023-01-04            28            46             4
4    2023-01-05            22            57             8
..          ...           ...           ...           ...
359  2023-12-27            26            41             6
360  2023-12-28            24            44             7
361  2023-12-29            19            32             4
362  2023-12-30            25            50            16
363  2023-12-31             1             8             0

[364 rows x 4 columns]

## c. Pivot with `SUM()`

In [42]:
%%sql

SELECT
  p.categoryname,
  SUM(CASE WHEN s.orderdate BETWEEN '2022-01-01' AND '2022-12-31' THEN s.quantity * s.netprice * s.exchangerate ELSE 0 END) AS total_net_revenue_2022,
  SUM(CASE WHEN s.orderdate BETWEEN '2023-01-01' AND '2023-12-31' THEN s.quantity * s.netprice * s.exchangerate ELSE 0 END) AS total_net_revenue_2023
FROM sales s
LEFT JOIN product p ON s.productkey = p.productkey
GROUP BY
  p.categoryname
ORDER BY
  p.categoryname

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

8 rows affected.

,categoryname,total_net_revenue_2022,total_net_revenue_2023
0,Audio,766938.21,688690.18
1,Cameras and camcorders,2382532.56,1983546.29
2,Cell phones,8119665.07,6002147.63
3,Computers,17862213.49,11650867.21
4,Games and Toys,316127.30,270374.96
5,Home Appliances,6612446.68,5919992.87
6,"Music, Movies and Audio Books",2989297.28,2180768.13
7,TV and Video,5815336.61,4412178.23

# 3. Statistical Aggregations

## a. `AVG()`

In [43]:
%%sql

SELECT
  p.categoryname AS category,
  AVG(CASE WHEN s.orderdate BETWEEN '2022-01-01' AND '2022-12-31' THEN (s.quantity * s.netprice * s.exchangerate) END) AS avg_net_revenue_2022,
  AVG(CASE WHEN s.orderdate BETWEEN '2023-01-01' AND '2023-12-31' THEN (s.quantity * s.netprice * s.exchangerate) END) AS avg_net_revenue_2023
FROM
  sales s
  LEFT JOIN product p ON s.productkey = p.productkey
GROUP BY
  p.categoryname
ORDER BY
  p.categoryname

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

8 rows affected.

                        category  avg_net_revenue_2022  avg_net_revenue_2023
0                          Audio                392.30                425.38
1        Cameras and camcorders                1210.02               1210.96
2                    Cell phones                722.20                623.28
3                      Computers               1565.62               1292.39
4                 Games and Toys                 81.29                 80.83
5                Home Appliances               1755.36               1886.55
6  Music, Movies and Audio Books                386.61                334.58
7                   TV and Video               1535.61               1687.90

## b. `MIN()` and `MAX()`

In [44]:
%%sql

SELECT
  p.categoryname AS category,
  AVG(CASE WHEN s.orderdate BETWEEN '2022-01-01' AND '2022-12-31' THEN (s.quantity * s.netprice * s.exchangerate) END) AS avg_net_revenue_2022,
  AVG(CASE WHEN s.orderdate BETWEEN '2023-01-01' AND '2023-12-31' THEN (s.quantity * s.netprice * s.exchangerate) END) AS avg_net_revenue_2023,
  MIN(CASE WHEN s.orderdate BETWEEN '2022-01-01' AND '2022-12-31' THEN (s.quantity * s.netprice * s.exchangerate) END) AS min_net_revenue_2022,
  MIN(CASE WHEN s.orderdate BETWEEN '2023-01-01' AND '2023-12-31' THEN (s.quantity * s.netprice * s.exchangerate) END) AS min_net_revenue_2023,
  MAX(CASE WHEN s.orderdate BETWEEN '2022-01-01' AND '2022-12-31' THEN (s.quantity * s.netprice * s.exchangerate) END) AS max_net_revenue_2022,
  MAX(CASE WHEN s.orderdate BETWEEN '2023-01-01' AND '2023-12-31' THEN (s.quantity * s.netprice * s.exchangerate) END) AS max_net_revenue_2023
FROM
  sales s
  LEFT JOIN product p ON s.productkey = p.productkey
GROUP BY
  p.categoryname
ORDER BY
  p.categoryname

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

8 rows affected.

,category,avg_net_revenue_2022,avg_net_revenue_2023,min_net_revenue_2022,min_net_revenue_2023,max_net_revenue_2022,max_net_revenue_2023
0,Audio,392.30,425.38,9.31,10.85,3473.36,2730.87
1,Cameras and camcorders,1210.02,1210.96,6.74,5.98,15008.39,13572.00
2,Cell phones,722.20,623.28,2.53,2.28,7692.37,8912.22
3,Computers,1565.62,1292.39,0.83,0.75,38082.66,27611.60
4,Games and Toys,81.29,80.83,2.83,3.49,5202.01,3357.30
5,Home Appliances,1755.36,1886.55,4.04,4.54,31654.55,32915.59
6,"Music, Movies and Audio Books",386.61,334.58,7.29,6.91,5415.19,3804.91
7,TV and Video,1535.61,1687.90,41.30,42.30,30259.41,27503.12

## c. `MEDIAN()`

In [45]:
%%sql

SELECT
  PERCENTILE_CONT(.50) WITHIN GROUP (ORDER BY netprice) AS median_price,
  AVG(netprice) AS avg_price
FROM
  sales

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

1 rows affected.

   median_price  avg_price
0        191.95     324.30

In [46]:
%%sql

SELECT
  p.categoryname AS category,
  PERCENTILE_CONT(.5) WITHIN GROUP (ORDER BY (
    CASE WHEN s.orderdate BETWEEN '2022-01-01' AND '2022-12-31' THEN (s.quantity * s.netprice * s.exchangerate) END
  )) AS y2022_median_sales,
  PERCENTILE_CONT(.5) WITHIN GROUP (ORDER BY (
    CASE WHEN s.orderdate BETWEEN '2023-01-01' AND '2023-12-31' THEN (s.quantity * s.netprice * s.exchangerate) END
  )) AS y2023_median_sales
FROM
  sales s
  LEFT JOIN product p ON s.productkey = p.productkey
GROUP BY
  p.categoryname
ORDER BY
  p.categoryname

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

8 rows affected.

                        category  y2022_median_sales  y2023_median_sales
0                          Audio              257.21              266.59
1        Cameras and camcorders               651.46              672.60
2                    Cell phones              418.60              375.88
3                      Computers              809.70              657.18
4                 Games and Toys               33.78               32.62
5                Home Appliances              791.00              825.25
6  Music, Movies and Audio Books              186.58              159.63
7                   TV and Video              730.46              790.79

# 4. Advanced Segmentation

## a. Categorize

In [51]:
%%sql

SELECT
  orderdate,
  quantity,
  netprice,
  CASE
    WHEN quantity >= 2 AND netprice >= 100 THEN 'High Value Order'
    WHEN netprice >= 100 THEN 'Single High Value Item'
    WHEN quantity >= 2 THEN 'Multiple Standard Items'
    ELSE 'Single Standard Item'
  END AS order_type
FROM sales
LIMIT 10

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

    orderdate  quantity  netprice               order_type
0  2015-01-01         1     98.97     Single Standard Item
1  2015-01-01         1    659.78   Single High Value Item
2  2015-01-01         2     54.38  Multiple Standard Items
3  2015-01-01         4    286.69         High Value Order
4  2015-01-01         7    135.75         High Value Order
5  2015-01-01         3    434.30         High Value Order
6  2015-01-01         1     58.73     Single Standard Item
7  2015-01-01         3     74.99  Multiple Standard Items
8  2015-01-01         2    113.57         High Value Order
9  2015-01-01         1    499.45   Single High Value Item

## b. Using `AND` for Multiple Conditions

In [52]:
%%sql

SELECT
   PERCENTILE_CONT(0.5) WITHIN GROUP (ORDER BY (s.quantity * s.netprice * s.exchangerate)) AS median
FROM sales s
WHERE
  orderdate BETWEEN '2022-01-01' AND '2023-12-31'

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

1 rows affected.

   median
0  398.00

In [56]:
%%sql

WITH median_value AS (
    SELECT
    PERCENTILE_CONT(0.5) WITHIN GROUP (ORDER BY (s.quantity * s.netprice * s.exchangerate)) AS median
  FROM sales s
  WHERE
    orderdate BETWEEN '2022-01-01' AND '2023-12-31'
)

SELECT
  p.categoryname AS category,
  SUM(CASE WHEN (s.quantity * s.netprice * s.exchangerate) < mv.median
          AND s.orderdate BETWEEN '2022-01-01' AND '2022-12-31'
        THEN (s.quantity * s.netprice * s.exchangerate) END) AS low_net_revenue_2022,
  SUM(CASE WHEN (s.quantity * s.netprice * s.exchangerate) > mv.median
          AND s.orderdate BETWEEN '2022-01-01' AND '2022-12-31'
        THEN (s.quantity * s.netprice * s.exchangerate) END) AS high_net_revenue_2022,
  SUM(CASE WHEN (s.quantity * s.netprice * s.exchangerate) < mv.median
          AND s.orderdate BETWEEN '2023-01-01' AND '2023-12-31'
        THEN (s.quantity * s.netprice * s.exchangerate) END) AS low_net_revenue_2023,
  SUM(CASE WHEN (s.quantity * s.netprice * s.exchangerate) > mv.median
          AND s.orderdate BETWEEN '2023-01-01' AND '2023-12-31'
        THEN (s.quantity * s.netprice * s.exchangerate) END) AS high_net_revenue_2023
FROM
  sales s
  LEFT JOIN product p ON s.productkey = p.productkey,
  median_value mv
GROUP BY p.categoryname
ORDER BY p.categoryname

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

8 rows affected.

,category,low_net_revenue_2022,high_net_revenue_2022,low_net_revenue_2023,high_net_revenue_2023
0,Audio,222337.83,544600.39,180251.13,508439.06
1,Cameras and camcorders,133004.54,2249528.02,104869.46,1878676.83
2,Cell phones,814449.53,7299245.55,729699.39,5266478.24
3,Computers,624340.42,17237873.07,590790.31,11060076.90
4,Games and Toys,231979.63,84147.67,206103.36,64271.60
5,Home Appliances,219797.07,6392649.61,176261.35,5743731.52
6,"Music, Movies and Audio Books",685808.49,2303488.80,574958.76,1605809.37
7,TV and Video,272338.29,5542202.32,164275.35,4246708.87

## c. Multiple `WHEN` Clauses in a Single `CASE` Block

In [66]:
%%sql

WITH percentiles AS (
  SELECT
    PERCENTILE_CONT(0.25) WITHIN GROUP (ORDER BY (s.quantity * s.netprice * s.exchangerate)) AS revenue_25th_percentile,
    PERCENTILE_CONT(0.75) WITHIN GROUP (ORDER BY (s.quantity * s.netprice * s.exchangerate)) AS revenue_75th_percentile
  FROM sales s
  WHERE
    orderdate BETWEEN '2022-01-01' AND '2023-12-31'
)

SELECT
  p.categoryname AS category,
  CASE
    WHEN (s.quantity * s.netprice * s.exchangerate) <= pctl.revenue_25th_percentile THEN '1- LOW'
    WHEN (s.quantity * s.netprice * s.exchangerate) >= pctl.revenue_75th_percentile THEN '3- HIGH'
    ELSE '2- MEDIUM'
  END AS revenue_tier,
  SUM(s.quantity * s.netprice * s.exchangerate) AS total_revenue
FROM
  sales s
  LEFT JOIN product p ON s.productkey = p.productkey,
  percentiles pctl
GROUP BY
  p.categoryname,
  revenue_tier
ORDER BY
  p.categoryname,
  revenue_tier

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

24 rows affected.

                         category revenue_tier  total_revenue
0                           Audio       1- LOW      267217.01
1                           Audio    2- MEDIUM     3832415.38
2                           Audio      3- HIGH     1213265.71
3         Cameras and camcorders        1- LOW       81032.92
4         Cameras and camcorders     2- MEDIUM     3388546.10
5         Cameras and camcorders       3- HIGH    15050781.63
6                     Cell phones       1- LOW      410309.35
7                     Cell phones    2- MEDIUM    10338963.22
8                     Cell phones      3- HIGH    21874993.15
9                       Computers       1- LOW      203207.06
10                      Computers    2- MEDIUM    10808054.11
11                      Computers      3- HIGH    79607760.89
12                 Games and Toys       1- LOW      533443.13
13                 Games and Toys    2- MEDIUM     1001381.91
14                 Games and Toys      3- HIGH      133749.09
15                Home Appliances       1- LOW      105045.60
16                Home Appliances    2- MEDIUM     4118724.64
17                Home Appliances      3- HIGH    22383475.30
18  Music, Movies and Audio Books       1- LOW      642496.71
19  Music, Movies and Audio Books    2- MEDIUM     6100817.99
20  Music, Movies and Audio Books      3- HIGH     3844996.29
21                   TV and Video       1- LOW       67221.76
22                   TV and Video    2- MEDIUM     3766783.30
23                   TV and Video      3- HIGH    16632856.33

# 5. Date & Time

## 5.1 Date & Time Formatting

### a. `DATE_TRUNC()`

In [67]:
%%sql

SELECT
  DATE_TRUNC('month', orderdate)::date AS order_month,
  SUM(quantity * netprice * exchangerate) AS net_revenue,
  COUNT(DISTINCT customerkey) AS total_unique_customers
FROM
  sales
GROUP BY
  order_month
LIMIT 10

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

  order_month  net_revenue  total_unique_customers
0  2015-01-01    384092.66                     200
1  2015-02-01    706374.12                     291
2  2015-03-01    332961.59                     139
3  2015-04-01    160767.00                      78
4  2015-05-01    548632.63                     236
5  2015-06-01    748563.97                     238
6  2015-07-01    635376.13                     227
7  2015-08-01    718538.62                     235
8  2015-09-01    696805.68                     277
9  2015-10-01    824891.22                     304

### b. `TO_CHAR()`

In [68]:
%%sql

SELECT
  orderdate,
  TO_CHAR(orderdate, 'YYYY-MM')
FROM sales
ORDER BY RANDOM()
LIMIT 10

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

    orderdate  to_char
0  2022-09-15  2022-09
1  2022-01-04  2022-01
2  2018-01-20  2018-01
3  2015-09-25  2015-09
4  2023-08-17  2023-08
5  2021-09-07  2021-09
6  2017-01-25  2017-01
7  2017-06-21  2017-06
8  2021-09-17  2021-09
9  2019-10-30  2019-10

In [70]:
%%sql

SELECT
  TO_CHAR(orderdate, 'YYYY-MM') AS order_month,
  SUM(quantity * netprice * exchangerate) AS net_revenue,
  COUNT(DISTINCT customerkey) AS total_unique_customers
FROM
  sales
GROUP BY
  order_month
LIMIT 10

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

  order_month  net_revenue  total_unique_customers
0     2015-01    384092.66                     200
1     2015-02    706374.12                     291
2     2015-03    332961.59                     139
3     2015-04    160767.00                      78
4     2015-05    548632.63                     236
5     2015-06    748563.97                     238
6     2015-07    635376.13                     227
7     2015-08    718538.62                     235
8     2015-09    696805.68                     277
9     2015-10    824891.22                     304

## 5.2 Date & Time Filtering

### a. `DATE_PART()` & `EXTRACT`

In [71]:
%%sql

SELECT
  orderdate,
  DATE_PART('year', orderdate) AS order_year,
  DATE_PART('month', orderdate) AS order_month,
  DATE_PART('day', orderdate) AS order_day
FROM
  sales
ORDER BY RANDOM()
LIMIT 10

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

    orderdate  order_year  order_month  order_day
0  2019-02-13     2019.00         2.00      13.00
1  2022-10-19     2022.00        10.00      19.00
2  2022-05-17     2022.00         5.00      17.00
3  2023-10-05     2023.00        10.00       5.00
4  2020-02-15     2020.00         2.00      15.00
5  2022-12-24     2022.00        12.00      24.00
6  2021-12-25     2021.00        12.00      25.00
7  2020-05-28     2020.00         5.00      28.00
8  2024-01-12     2024.00         1.00      12.00
9  2018-08-23     2018.00         8.00      23.00

In [72]:
%%sql

SELECT
  orderdate,
  EXTRACT(YEAR FROM orderdate) AS extract_year,
  EXTRACT(MONTH FROM orderdate) AS extract_month,
  EXTRACT(DAY FROM orderdate) AS extract_day
FROM
  sales
ORDER BY RANDOM()
LIMIT 10

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

    orderdate extract_year extract_month extract_day
0  2023-08-05         2023             8           5
1  2023-11-03         2023            11           3
2  2018-05-25         2018             5          25
3  2022-04-06         2022             4           6
4  2017-09-02         2017             9           2
5  2022-10-11         2022            10          11
6  2018-01-08         2018             1           8
7  2017-02-23         2017             2          23
8  2023-10-14         2023            10          14
9  2018-10-20         2018            10          20

In [74]:
%%sql

SELECT
  EXTRACT(YEAR FROM orderdate) AS order_year,
  EXTRACT(MONTH FROM orderdate) AS order_month,
  SUM(quantity * netprice * exchangerate) AS net_revenue,
  COUNT(DISTINCT customerkey) AS total_unique_customers
FROM
  sales
GROUP BY
  order_year,
  order_month

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

112 rows affected.

    order_year order_month  net_revenue  total_unique_customers
0         2015           1    384092.66                     200
1         2015           2    706374.12                     291
2         2015           3    332961.59                     139
3         2015           4    160767.00                      78
4         2015           5    548632.63                     236
..         ...         ...          ...                     ...
107       2023          12   2928550.93                    1484
108       2024           1   2677498.55                    1340
109       2024           2   3542322.55                    1718
110       2024           3   1692854.89                     877
111       2024           4    483851.39                     246

[112 rows x 4 columns]

### b. `CURRENT_DATE()` and `NOW`

In [75]:
%%sql

SELECT CURRENT_DATE

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

1 rows affected.

  current_date
0   2025-04-05

In [76]:
%%sql

SELECT NOW()

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

1 rows affected.

                               now
0 2025-04-05 19:54:36.817354+00:00

In [77]:
%%sql

SELECT
  s.orderdate,
  p.categoryname,
  SUM(s.quantity * s.netprice * s.exchangerate) AS net_revenue
FROM
  sales s
  LEFT JOIN product p ON s.productkey = p.productkey
WHERE
  EXTRACT(YEAR FROM orderdate) >= EXTRACT(YEAR FROM CURRENT_DATE) - 5
GROUP BY
  s.orderdate,
  p.categoryname
ORDER BY
  s.orderdate,
  p.categoryname

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

11171 rows affected.

        orderdate                   categoryname  net_revenue
0      2020-01-01                          Audio      5490.14
1      2020-01-01        Cameras and camcorders      18880.06
2      2020-01-01                    Cell phones     22593.00
3      2020-01-01                      Computers     78554.54
4      2020-01-01                 Games and Toys      1476.43
...           ...                            ...          ...
11166  2024-04-20                      Computers     58353.68
11167  2024-04-20                 Games and Toys      1744.30
11168  2024-04-20                Home Appliances      1562.04
11169  2024-04-20  Music, Movies and Audio Books      4949.43
11170  2024-04-20                   TV and Video      9841.91

[11171 rows x 3 columns]

## 5.3 Date & Time Differences

### a. `INTERVAL`

In [78]:
%%sql

SELECT INTERVAL '5 centuries'

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

1 rows affected.

               interval
0  182500 days, 0:00:00

In [79]:
%%sql

SELECT INTERVAL '5 months'

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

1 rows affected.

  interval
0 150 days

In [80]:
%%sql

SELECT
  CURRENT_DATE,
  orderdate
FROM sales
WHERE
  orderdate >= CURRENT_DATE - INTERVAL '5 years'

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

118342 rows affected.

       current_date   orderdate
0        2025-04-05  2020-04-06
1        2025-04-05  2020-04-06
2        2025-04-05  2020-04-06
3        2025-04-05  2020-04-06
4        2025-04-05  2020-04-06
...             ...         ...
118337   2025-04-05  2024-04-20
118338   2025-04-05  2024-04-20
118339   2025-04-05  2024-04-20
118340   2025-04-05  2024-04-20
118341   2025-04-05  2024-04-20

[118342 rows x 2 columns]

In [81]:
%%sql

SELECT
  s.orderdate,
  p.categoryname,
  SUM(s.quantity * s.netprice * s.exchangerate) AS net_revenue
FROM
  sales s
  LEFT JOIN product p ON s.productkey = p.productkey
WHERE
  s.orderdate >= CURRENT_DATE - INTERVAL '5 years'
GROUP BY
  s.orderdate,
  p.categoryname
ORDER BY
  s.orderdate,
  p.categoryname

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10487 rows affected.

        orderdate                   categoryname  net_revenue
0      2020-04-06                          Audio      1466.10
1      2020-04-06                    Cell phones      2094.65
2      2020-04-06                 Games and Toys       307.73
3      2020-04-06  Music, Movies and Audio Books       775.11
4      2020-04-07        Cameras and camcorders       1876.70
...           ...                            ...          ...
10482  2024-04-20                      Computers     58353.68
10483  2024-04-20                 Games and Toys      1744.30
10484  2024-04-20                Home Appliances      1562.04
10485  2024-04-20  Music, Movies and Audio Books      4949.43
10486  2024-04-20                   TV and Video      9841.91

[10487 rows x 3 columns]

### b. `AGE()` & `EXTRACT()`

In [82]:
%%sql

SELECT EXTRACT(DAY FROM AGE('2024-01-14', '2024-01-08')) - 5 AS diff_date

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

1 rows affected.

  diff_date
0         1

In [84]:
%%sql

SELECT
  EXTRACT(YEAR FROM orderdate) as order_year,
  ROUND(AVG(EXTRACT(DAYS FROM AGE(deliverydate, orderdate))), 2) AS avg_processing_time,
  CAST(SUM(quantity * netprice * exchangerate) AS INTEGER) AS net_revenue
FROM
  sales
WHERE
  orderdate >= CURRENT_DATE - INTERVAL '5 years'
GROUP BY
  order_year
ORDER BY
  order_year

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

5 rows affected.

  order_year avg_processing_time  net_revenue
0       2020                0.95      5185149
1       2021                1.36     21357977
2       2022                1.62     44864557
3       2023                1.75     33108566
4       2024                1.67      8396527

# 6. Windows Functions

## 6.1 Syntax

In [85]:
%%sql

SELECT
  customerkey,
  orderkey,
  linenumber,
  (quantity * netprice * exchangerate) AS net_revenue,
  AVG(quantity * netprice * exchangerate) OVER() AS avg_net_revenue_all_orders,
  AVG(quantity * netprice * exchangerate) OVER(PARTITION BY customerkey) AS avg_net_revenue_customer
FROM sales
ORDER BY customerkey
LIMIT 10

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

,customerkey,orderkey,linenumber,net_revenue,avg_net_revenue_all_orders,avg_net_revenue_customer
0,15,2259001,0,2217.41,1032.69,2217.41
1,180,1305016,0,525.31,1032.69,836.74
2,180,3162018,0,71.36,1032.69,836.74
3,180,3162018,1,1913.55,1032.69,836.74
4,185,1613010,0,1395.52,1032.69,1395.52
5,243,505008,0,287.67,1032.69,287.67
6,387,1451007,2,97.05,1032.69,517.32
7,387,1451007,0,1608.10,1032.69,517.32
8,387,1451007,3,45.62,1032.69,517.32
9,387,1451007,1,619.77,1032.69,517.32

### a. Window Function w/ `SUM()`

In [87]:
%%sql

SELECT
  orderdate,
  orderkey * 10 + linenumber AS order_line_number,
  (quantity * netprice * exchangerate) AS net_revenue,
  SUM(quantity * netprice * exchangerate) OVER(PARTITION BY orderdate) AS daily_net_revenue,
  (quantity * netprice * exchangerate) * 100 / SUM(quantity * netprice * exchangerate) OVER(PARTITION BY orderdate) AS pct_daily_revenue
FROM sales
ORDER BY
  orderdate,
  pct_daily_revenue DESC
LIMIT 10

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

,orderdate,order_line_number,net_revenue,daily_net_revenue,pct_daily_revenue
0,2015-01-01,10043,2395.10,11640.80,20.58
1,2015-01-01,10061,1552.32,11640.80,13.34
2,2015-01-01,10022,1302.91,11640.80,11.19
3,2015-01-01,10020,1146.75,11640.80,9.85
4,2015-01-01,10050,975.16,11640.80,8.38
5,2015-01-01,10021,950.25,11640.80,8.16
6,2015-01-01,10041,578.52,11640.80,4.97
7,2015-01-01,10081,574.05,11640.80,4.93
8,2015-01-01,10001,423.28,11640.80,3.64
9,2015-01-01,10040,263.11,11640.80,2.26

In [92]:
%%sql

WITH revenue_by_day AS (
  SELECT
    orderdate,
    orderkey * 10 + linenumber AS order_line_number,
    (quantity * netprice * exchangerate) AS net_revenue,
    SUM(quantity * netprice * exchangerate) OVER(PARTITION BY orderdate) AS daily_net_revenue
  FROM sales
)

SELECT
  *,
  (net_revenue / daily_net_revenue) * 100 AS pct_daily_revenue
FROM revenue_by_day
ORDER BY
  orderdate,
  pct_daily_revenue DESC
LIMIT 10

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

,orderdate,order_line_number,net_revenue,daily_net_revenue,pct_daily_revenue
0,2015-01-01,10043,2395.10,11640.80,20.58
1,2015-01-01,10061,1552.32,11640.80,13.34
2,2015-01-01,10022,1302.91,11640.80,11.19
3,2015-01-01,10020,1146.75,11640.80,9.85
4,2015-01-01,10050,975.16,11640.80,8.38
5,2015-01-01,10021,950.25,11640.80,8.16
6,2015-01-01,10041,578.52,11640.80,4.97
7,2015-01-01,10081,574.05,11640.80,4.93
8,2015-01-01,10001,423.28,11640.80,3.64
9,2015-01-01,10040,263.11,11640.80,2.26

### b. Cohort Analysis w/ `MIN()`

In [96]:
%%sql

WITH yearly_cohort AS (
  SELECT DISTINCT
    customerkey,
    EXTRACT(YEAR FROM MIN(orderdate) OVER (PARTITION BY customerkey)) AS cohort_year
  FROM sales
)

SELECT
  y.cohort_year,
  EXTRACT(YEAR FROM orderdate) AS purchase_year,
  SUM(s.quantity * s.netprice * s.exchangerate) AS net_revenue
FROM
  sales s
  LEFT JOIN yearly_cohort y ON s.customerkey = y.customerkey
GROUP BY
  y.cohort_year,
  purchase_year

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

55 rows affected.

   cohort_year purchase_year  net_revenue
0         2015          2015   7370979.48
1         2015          2016    392623.48
2         2015          2017    479841.31
3         2015          2018   1069850.87
4         2015          2019   1235991.48
5         2015          2020    386489.60
6         2015          2021    872845.99
7         2015          2022   1569787.72
8         2015          2023   1157633.91
9         2015          2024    356186.62
10        2016          2016   9990990.20
11        2016          2017    497028.11
12        2016          2018   1074607.29
13        2016          2019   1565400.72
14        2016          2020    474087.09
15        2016          2021    964417.85
16        2016          2022   2164681.10
17        2016          2023   1265242.63
18        2016          2024    364066.76
19        2017          2017  12244469.63
20        2017          2018   1407065.13
21        2017          2019   1764716.90
22        2017          2020    625928.03
23        2017          2021   1329858.72
24        2017          2022   2428882.80
25        2017          2023   1714010.18
26        2017          2024    464802.56
27        2018          2018  21115924.55
28        2018          2019   3229188.22
29        2018          2020   1171126.65
30        2018          2021   2201262.39
31        2018          2022   4534295.81
32        2018          2023   3271753.92
33        2018          2024    936833.89
34        2019          2019  24022798.65
35        2019          2020   1295044.99
36        2019          2021   2337594.77
37        2019          2022   4848980.74
38        2019          2023   3440099.20
39        2019          2024    751725.53
40        2020          2020   7265759.44
41        2020          2021   1016399.07
42        2020          2022   1891708.40
43        2020          2023   1435051.04
44        2020          2024    312983.02
45        2021          2021  12635597.87
46        2021          2022   3014082.50
47        2021          2023   2242369.63
48        2021          2024    495686.18
49        2022          2022  24412138.13
50        2022          2023   4237220.04
51        2022          2024   1223450.12
52        2023          2023  14345184.96
53        2023          2024    634143.37
54        2024          2024   2856649.33

## 6.2 Aggregation

### a. Cohort Analysis w/ `COUNT()`

In [101]:
%%sql

WITH yearly_cohort AS (
  SELECT DISTINCT
    customerkey,
    EXTRACT(YEAR FROM MIN(orderdate) OVER (PARTITION BY customerkey)) AS cohort_year,
    EXTRACT(YEAR FROM orderdate) AS purchase_year
  FROM
    sales
)

SELECT DISTINCT
  cohort_year,
  purchase_year,
  COUNT(customerkey) OVER (PARTITION BY purchase_year, cohort_year) AS num_customers
FROM
  yearly_cohort
ORDER BY
  cohort_year,
  purchase_year

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

55 rows affected.

   cohort_year purchase_year  num_customers
0         2015          2015           2825
1         2015          2016            126
2         2015          2017            149
3         2015          2018            348
4         2015          2019            388
5         2015          2020            171
6         2015          2021            295
7         2015          2022            600
8         2015          2023            499
9         2015          2024            146
10        2016          2016           3397
11        2016          2017            174
12        2016          2018            374
13        2016          2019            457
14        2016          2020            205
15        2016          2021            336
16        2016          2022            746
17        2016          2023            573
18        2016          2024            183
19        2017          2017           4068
20        2017          2018            473
21        2017          2019            570
22        2017          2020            251
23        2017          2021            450
24        2017          2022            943
25        2017          2023            738
26        2017          2024            246
27        2018          2018           7446
28        2018          2019           1081
29        2018          2020            475
30        2018          2021            779
31        2018          2022           1644
32        2018          2023           1407
33        2018          2024            426
34        2019          2019           7755
35        2019          2020            523
36        2019          2021            873
37        2019          2022           1700
38        2019          2023           1439
39        2019          2024            370
40        2020          2020           3031
41        2020          2021            358
42        2020          2022            694
43        2020          2023            547
44        2020          2024            163
45        2021          2021           4663
46        2021          2022           1051
47        2021          2023            889
48        2021          2024            268
49        2022          2022           9010
50        2022          2023           1764
51        2022          2024            561
52        2023          2023           5890
53        2023          2024            332
54        2024          2024           1402

## b. Windows Functions & GROUP BYs

In [103]:
%%sql

WITH customers_orders AS (
  SELECT
    customerkey,
    quantity * netprice * exchangerate AS order_value,
    COUNT(*) OVER (PARTITION BY customerkey) AS total_orders
  FROM sales
)

SELECT
  customerkey,
  total_orders,
  AVG(order_value) AS net_revenue
FROM customers_orders
GROUP BY
  customerkey,
  total_orders

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

49487 rows affected.

       customerkey  total_orders  net_revenue
0               15             1      2217.41
1              180             3       836.74
2              185             1      1395.52
3              243             1       287.67
4              387             9       517.32
...            ...           ...          ...
49482      2099619             8       838.74
49483      2099656            13       800.36
49484      2099697             3        12.73
49485      2099711             2      3004.34
49486      2099743             3       356.03

[49487 rows x 3 columns]

### c. Cohort Analysis w/ `AVG()`

In [107]:
%%sql

WITH yearly_cohort AS (
  SELECT
    customerkey,
    EXTRACT(YEAR FROM MIN(orderdate)) AS cohort_year,
    SUM(quantity * netprice * exchangerate) AS customer_ltv
  FROM
    sales
  GROUP BY
    customerkey
)

SELECT
  *,
  AVG(customer_ltv) OVER (PARTITION BY cohort_year) AS avg_cohort_ltv
FROM yearly_cohort
ORDER BY
  cohort_year,
  customerkey

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

49487 rows affected.

       customerkey cohort_year  customer_ltv  avg_cohort_ltv
0             4376        2015        182.00         5271.59
1             4403        2015       9530.35         5271.59
2             4925        2015       6078.08         5271.59
3             5729        2015        192.16         5271.59
4             6048        2015       1903.89         5271.59
...            ...         ...           ...             ...
49482      2093965        2024        475.22         2037.55
49483      2095129        2024        156.00         2037.55
49484      2095691        2024        326.00         2037.55
49485      2096470        2024        535.78         2037.55
49486      2097541        2024       1143.15         2037.55

[49487 rows x 4 columns]

### d. Filtering with `WHERE`

In [108]:
%%sql

-- Filtering before the window function
SELECT
  customerkey,
  EXTRACT(YEAR FROM MIN(orderdate) OVER (PARTITION BY customerkey)) AS cohort_year
FROM
  sales
WHERE
  orderdate >= '2020-01-01'

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

124451 rows affected.

        customerkey cohort_year
0                15        2021
1               180        2023
2               180        2023
3               387        2021
4               387        2021
...             ...         ...
124446      2099697        2022
124447      2099697        2022
124448      2099743        2022
124449      2099743        2022
124450      2099743        2022

[124451 rows x 2 columns]

In [109]:
%%sql

-- Filtering after the window function
WITH cohort AS (
  SELECT
    customerkey,
    EXTRACT(YEAR FROM MIN(orderdate) OVER (PARTITION BY customerkey)) AS cohort_year
  FROM
    sales
)

SELECT *
FROM cohort
WHERE cohort_year >= '2020'

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

81370 rows affected.

       customerkey cohort_year
0               15        2021
1              406        2021
2              406        2021
3              545        2023
4              545        2023
...            ...         ...
81365      2099697        2022
81366      2099697        2022
81367      2099743        2022
81368      2099743        2022
81369      2099743        2022

[81370 rows x 2 columns]

## 6.3 Ranking

### a. `ORDER BY` in Window Functions

In [115]:
%%sql

SELECT
  customerkey,
  orderdate,
  (quantity * netprice * exchangerate) AS net_revenue,
  COUNT(*) OVER (
    PARTITION BY customerkey
    ORDER BY orderdate
  ) AS running_order_count,
  AVG(quantity * netprice * exchangerate) OVER (
    PARTITION BY customerkey
    ORDER BY orderdate
  ) AS running_avg_revenue
FROM
  sales

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

199873 rows affected.

,customerkey,orderdate,net_revenue,running_order_count,running_avg_revenue
0,15,2021-03-08,2217.41,1,2217.41
1,180,2018-07-28,525.31,1,525.31
2,180,2023-08-28,71.36,3,836.74
3,180,2023-08-28,1913.55,3,836.74
4,185,2019-06-01,1395.52,1,1395.52
...,...,...,...,...,...
199868,2099711,2016-08-13,2067.75,1,2067.75
199869,2099711,2017-08-14,3940.92,2,3004.34
199870,2099743,2022-03-17,375.57,2,234.81
199871,2099743,2022-03-17,94.05,2,234.81
199872,2099743,2023-02-11,598.46,3,356.03

### b. `ROW_NUMBER()` & `ORDER BY`

In [118]:
%%sql

SELECT
  ROW_NUMBER() OVER(
    ORDER BY
      orderdate,
      orderkey,
      linenumber
  ) AS row_num,
  *
FROM sales
LIMIT 10

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

,row_num,orderkey,linenumber,orderdate,deliverydate,customerkey,storekey,productkey,quantity,unitprice,netprice,unitcost,currencycode,exchangerate
0,1,1000,0,2015-01-01,2015-01-01,947009,400,48,1,112.46,98.97,57.34,GBP,0.64
1,2,1000,1,2015-01-01,2015-01-01,947009,400,460,1,749.75,659.78,382.25,GBP,0.64
2,3,1001,0,2015-01-01,2015-01-01,1772036,430,1730,2,54.38,54.38,25.00,USD,1.00
3,4,1002,0,2015-01-01,2015-01-01,1518349,660,955,4,315.04,286.69,144.88,USD,1.00
4,5,1002,1,2015-01-01,2015-01-01,1518349,660,62,7,135.75,135.75,62.43,USD,1.00
5,6,1002,2,2015-01-01,2015-01-01,1518349,660,1050,3,499.20,434.30,229.57,USD,1.00
6,7,1002,3,2015-01-01,2015-01-01,1518349,660,1608,1,65.99,58.73,33.65,USD,1.00
7,8,1003,0,2015-01-01,2015-01-01,1317097,510,85,3,74.99,74.99,34.48,USD,1.00
8,9,1004,0,2015-01-01,2015-01-01,254117,80,128,2,114.72,113.57,58.49,CAD,1.16
9,10,1004,1,2015-01-01,2015-01-01,254117,80,2079,1,499.45,499.45,165.48,CAD,1.16

In [120]:
%%sql

WITH row_numbering AS (
  SELECT
    ROW_NUMBER() OVER(
      PARTITION BY
        orderdate
      ORDER BY
        orderdate,
        orderkey,
        linenumber
    ) AS row_num,
    *
  FROM sales
)

SELECT *
FROM row_numbering
WHERE orderdate > '2015-01-01'
LIMIT 10

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

,row_num,orderkey,linenumber,orderdate,deliverydate,customerkey,storekey,productkey,quantity,unitprice,netprice,unitcost,currencycode,exchangerate
0,1,2000,0,2015-01-02,2015-01-02,1639738,530,1613,5,65.99,59.39,33.65,USD,1.00
1,2,2001,0,2015-01-02,2015-01-15,2085372,999999,2182,2,1237.50,1237.50,410.01,USD,1.00
2,3,2002,0,2015-01-02,2015-01-02,1732602,510,1822,2,22.40,22.40,11.42,USD,1.00
3,4,2002,1,2015-01-02,2015-01-02,1732602,510,49,5,149.96,149.96,68.96,USD,1.00
4,5,2003,0,2015-01-02,2015-01-02,728917,300,1674,2,4.89,4.89,2.49,EUR,0.83
5,6,2003,1,2015-01-02,2015-01-02,728917,300,369,1,1747.50,1555.28,803.60,EUR,0.83
6,7,2004,0,2015-01-02,2015-01-02,1724183,570,1654,2,155.99,155.99,51.68,USD,1.00
7,8,2005,0,2015-01-02,2015-01-02,2054699,480,460,1,749.75,712.26,382.25,USD,1.00
8,1,3000,0,2015-01-03,2015-01-03,1793739,500,108,3,99.74,97.75,45.87,USD,1.00
9,2,3000,1,2015-01-03,2015-01-03,1793739,500,1684,3,11.82,11.00,3.92,USD,1.00

### c. `ROW_NUMBER()`, `RANK()`, `DENSE_RANK()`

In [121]:
%%sql

SELECT
  customerkey,
  COUNT(*) AS total_orders,
  ROW_NUMBER() OVER (ORDER BY COUNT(*) DESC) AS total_orders_row_num,
  RANK() OVER (ORDER BY COUNT(*) DESC) AS total_orders_rank,
  DENSE_RANK() OVER (ORDER BY COUNT(*) DESC) AS total_orders_dense_rank
FROM sales
GROUP BY customerkey
LIMIT 10

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

,customerkey,total_orders,total_orders_row_num,total_orders_rank,total_orders_dense_rank
0,1834524,31,1,1,1
1,1375597,30,2,2,2
2,249557,27,3,3,3
3,459519,26,4,4,4
4,1495941,26,5,4,4
5,1801215,26,6,4,4
6,1219056,25,7,7,5
7,759419,24,8,8,6
8,1427444,24,9,8,6
9,1876222,24,10,8,6

##  6.4 `LAG` & `LEAD`

### a. `FIRST_VALUE()`, `LAST_VALUE()`, `LAG()`, `LEAD()`

In [129]:
%%sql

WITH monthly_revenue AS (
  SELECT
    TO_CHAR(orderdate, 'YYYY-MM') AS month,
    SUM(quantity * netprice * exchangerate) AS net_revenue
  FROM sales
  WHERE EXTRACT(YEAR FROM orderdate) = 2023
  GROUP BY month
  ORDER BY month
)

SELECT
  *,
  FIRST_VALUE(net_revenue) OVER (ORDER BY month) AS first_month_revenue,
  LAST_VALUE(net_revenue) OVER (ORDER BY month ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING) AS last_month_revenue,
  NTH_VALUE(net_revenue, 3) OVER (ORDER BY month ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING) AS third_month_revenue
FROM monthly_revenue

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

12 rows affected.

,month,net_revenue,first_month_revenue,last_month_revenue,third_month_revenue
0,2023-01,3664431.34,3664431.34,2928550.93,2244316.52
1,2023-02,4465204.57,3664431.34,2928550.93,2244316.52
2,2023-03,2244316.52,3664431.34,2928550.93,2244316.52
3,2023-04,1162796.16,3664431.34,2928550.93,2244316.52
4,2023-05,2943005.99,3664431.34,2928550.93,2244316.52
5,2023-06,2864500.03,3664431.34,2928550.93,2244316.52
6,2023-07,2337639.34,3664431.34,2928550.93,2244316.52
7,2023-08,2623919.79,3664431.34,2928550.93,2244316.52
8,2023-09,2622774.85,3664431.34,2928550.93,2244316.52
9,2023-10,2551322.61,3664431.34,2928550.93,2244316.52
10,2023-11,2700103.38,3664431.34,2928550.93,2244316.52
11,2023-12,2928550.93,3664431.34,2928550.93,2244316.52

In [131]:
%%sql

WITH monthly_revenue AS (
  SELECT
    TO_CHAR(orderdate, 'YYYY-MM') AS month,
    SUM(quantity * netprice * exchangerate) AS net_revenue
  FROM sales
  WHERE EXTRACT(YEAR FROM orderdate) = 2023
  GROUP BY month
  ORDER BY month
)

SELECT
  *,
  LAG(net_revenue) OVER (ORDER BY month) AS previous_month_revenue,
  LEAD(net_revenue) OVER (ORDER BY month) AS next_month_revenue
FROM monthly_revenue

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

12 rows affected.

      month  net_revenue  previous_month_revenue  next_month_revenue
0   2023-01   3664431.34                     NaN          4465204.57
1   2023-02   4465204.57              3664431.34          2244316.52
2   2023-03   2244316.52              4465204.57          1162796.16
3   2023-04   1162796.16              2244316.52          2943005.99
4   2023-05   2943005.99              1162796.16          2864500.03
5   2023-06   2864500.03              2943005.99          2337639.34
6   2023-07   2337639.34              2864500.03          2623919.79
7   2023-08   2623919.79              2337639.34          2622774.85
8   2023-09   2622774.85              2623919.79          2551322.61
9   2023-10   2551322.61              2622774.85          2700103.38
10  2023-11   2700103.38              2551322.61          2928550.93
11  2023-12   2928550.93              2700103.38                 NaN

In [135]:
%%sql

WITH monthly_revenue AS (
  SELECT
    TO_CHAR(orderdate, 'YYYY-MM') AS month,
    SUM(quantity * netprice * exchangerate) AS net_revenue
  FROM sales
  WHERE EXTRACT(YEAR FROM orderdate) = 2023
  GROUP BY month
  ORDER BY month
)

SELECT
  *,
  LAG(net_revenue) OVER (ORDER BY month) AS previous_month_revenue,
  ((net_revenue - LAG(net_revenue) OVER (ORDER BY month)) / LAG(net_revenue) OVER (ORDER BY month)) * 100 AS monthly_rev_growth
FROM monthly_revenue

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

12 rows affected.

      month  net_revenue  previous_month_revenue  monthly_rev_growth
0   2023-01   3664431.34                     NaN                 NaN
1   2023-02   4465204.57              3664431.34               21.85
2   2023-03   2244316.52              4465204.57              -49.74
3   2023-04   1162796.16              2244316.52              -48.19
4   2023-05   2943005.99              1162796.16              153.10
5   2023-06   2864500.03              2943005.99               -2.67
6   2023-07   2337639.34              2864500.03              -18.39
7   2023-08   2623919.79              2337639.34               12.25
8   2023-09   2622774.85              2623919.79               -0.04
9   2023-10   2551322.61              2622774.85               -2.72
10  2023-11   2700103.38              2551322.61                5.83
11  2023-12   2928550.93              2700103.38                8.46

### b. `LAG()` & `LEAD()`

In [145]:
%%sql

WITH yearly_cohort AS (
  SELECT
    customerkey,
    EXTRACT(YEAR FROM MIN(orderdate)) AS cohort_year,
    SUM(quantity * netprice * exchangerate) AS customer_ltv
  FROM sales
  GROUP BY
    customerkey
), cohort_summary AS (
  SELECT
    cohort_year,
    customerkey,
    customer_ltv,
    AVG(customer_ltv) OVER (PARTITION BY cohort_year) AS avg_cohort_ltv
  FROM yearly_cohort
  ORDER BY
    cohort_year,
    customerkey
), cohort_final AS (
  SELECT DISTINCT
    cohort_year,
    avg_cohort_ltv
  FROM cohort_summary
  ORDER BY
    cohort_year
)

SELECT
  *,
  LAG(avg_cohort_ltv) OVER (ORDER BY cohort_year) AS prev_cohort_ltv,
  ((avg_cohort_ltv - LAG(avg_cohort_ltv) OVER (ORDER BY cohort_year)) / LAG(avg_cohort_ltv) OVER (ORDER BY cohort_year)) * 100 AS ltc_change
FROM cohort_final

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

  cohort_year  avg_cohort_ltv  prev_cohort_ltv  ltc_change
0        2015         5271.59              NaN         NaN
1        2016         5404.92          5271.59        2.53
2        2017         5403.08          5404.92       -0.03
3        2018         4896.64          5403.08       -9.37
4        2019         4731.95          4896.64       -3.36
5        2020         3933.32          4731.95      -16.88
6        2021         3943.33          3933.32        0.25
7        2022         3315.52          3943.33      -15.92
8        2023         2543.18          3315.52      -23.29
9        2024         2037.55          2543.18      -19.88

## 6.5 Frame Cluases

### a. `ROWS` & `CURRENT ROW`

In [149]:
%%sql

WITH monthly_sales AS (
  SELECT
    TO_CHAR(orderdate, 'YYYY-MM') AS month,
    SUM(quantity * netprice * exchangerate) AS net_revenue
  FROM sales
  WHERE EXTRACT(YEAR FROM orderdate) = 2023
  GROUP BY month
  ORDER BY month
)

SELECT
  month,
  net_revenue,
  AVG(net_revenue) OVER (
    ORDER BY month
    ROWS BETWEEN CURRENT ROW AND CURRENT ROW
  ) AS net_revenue_current
FROM monthly_sales

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

12 rows affected.

      month  net_revenue  net_revenue_current
0   2023-01   3664431.34           3664431.34
1   2023-02   4465204.57           4465204.57
2   2023-03   2244316.52           2244316.52
3   2023-04   1162796.16           1162796.16
4   2023-05   2943005.99           2943005.99
5   2023-06   2864500.03           2864500.03
6   2023-07   2337639.34           2337639.34
7   2023-08   2623919.79           2623919.79
8   2023-09   2622774.85           2622774.85
9   2023-10   2551322.61           2551322.61
10  2023-11   2700103.38           2700103.38
11  2023-12   2928550.93           2928550.93

### b. `N PRECEDING` & `N FOLLOWING`

In [150]:
%%sql

WITH monthly_sales AS (
  SELECT
    TO_CHAR(orderdate, 'YYYY-MM') AS month,
    SUM(quantity * netprice * exchangerate) AS net_revenue
  FROM sales
  WHERE EXTRACT(YEAR FROM orderdate) = 2023
  GROUP BY month
  ORDER BY month
)

SELECT
  month,
  net_revenue,
  AVG(net_revenue) OVER (
    ORDER BY month
    ROWS BETWEEN 1 PRECEDING AND CURRENT ROW
  ) AS net_revenue_current
FROM monthly_sales

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

12 rows affected.

      month  net_revenue  net_revenue_current
0   2023-01   3664431.34           3664431.34
1   2023-02   4465204.57           4064817.96
2   2023-03   2244316.52           3354760.54
3   2023-04   1162796.16           1703556.34
4   2023-05   2943005.99           2052901.08
5   2023-06   2864500.03           2903753.01
6   2023-07   2337639.34           2601069.68
7   2023-08   2623919.79           2480779.57
8   2023-09   2622774.85           2623347.32
9   2023-10   2551322.61           2587048.73
10  2023-11   2700103.38           2625712.99
11  2023-12   2928550.93           2814327.15

In [151]:
%%sql

WITH monthly_sales AS (
  SELECT
    TO_CHAR(orderdate, 'YYYY-MM') AS month,
    SUM(quantity * netprice * exchangerate) AS net_revenue
  FROM sales
  WHERE EXTRACT(YEAR FROM orderdate) = 2023
  GROUP BY month
  ORDER BY month
)

SELECT
  month,
  net_revenue,
  AVG(net_revenue) OVER (
    ORDER BY month
    ROWS BETWEEN 1 PRECEDING AND 1 FOLLOWING
  ) AS net_revenue_current
FROM monthly_sales

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

12 rows affected.

      month  net_revenue  net_revenue_current
0   2023-01   3664431.34           4064817.96
1   2023-02   4465204.57           3457984.14
2   2023-03   2244316.52           2624105.75
3   2023-04   1162796.16           2116706.22
4   2023-05   2943005.99           2323434.06
5   2023-06   2864500.03           2715048.45
6   2023-07   2337639.34           2608686.39
7   2023-08   2623919.79           2528111.33
8   2023-09   2622774.85           2599339.08
9   2023-10   2551322.61           2624733.61
10  2023-11   2700103.38           2726658.97
11  2023-12   2928550.93           2814327.15

### c. `UNBOUNDED PRECEDING/FOLLOWING`

In [152]:
%%sql

WITH monthly_sales AS (
  SELECT
    TO_CHAR(orderdate, 'YYYY-MM') AS month,
    SUM(quantity * netprice * exchangerate) AS net_revenue
  FROM sales
  WHERE EXTRACT(YEAR FROM orderdate) = 2023
  GROUP BY month
  ORDER BY month
)

SELECT
  month,
  net_revenue,
  AVG(net_revenue) OVER (
    ORDER BY month
    ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING
  ) AS net_revenue_current
FROM monthly_sales

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

12 rows affected.

      month  net_revenue  net_revenue_current
0   2023-01   3664431.34           2759047.13
1   2023-02   4465204.57           2759047.13
2   2023-03   2244316.52           2759047.13
3   2023-04   1162796.16           2759047.13
4   2023-05   2943005.99           2759047.13
5   2023-06   2864500.03           2759047.13
6   2023-07   2337639.34           2759047.13
7   2023-08   2623919.79           2759047.13
8   2023-09   2622774.85           2759047.13
9   2023-10   2551322.61           2759047.13
10  2023-11   2700103.38           2759047.13
11  2023-12   2928550.93           2759047.13

In [153]:
%%sql

WITH monthly_sales AS (
  SELECT
    TO_CHAR(orderdate, 'YYYY-MM') AS month,
    SUM(quantity * netprice * exchangerate) AS net_revenue
  FROM sales
  WHERE EXTRACT(YEAR FROM orderdate) = 2023
  GROUP BY month
  ORDER BY month
)

SELECT
  month,
  net_revenue,
  AVG(net_revenue) OVER (
    ORDER BY month
    ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW
  ) AS net_revenue_current
FROM monthly_sales

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

12 rows affected.

      month  net_revenue  net_revenue_current
0   2023-01   3664431.34           3664431.34
1   2023-02   4465204.57           4064817.96
2   2023-03   2244316.52           3457984.14
3   2023-04   1162796.16           2884187.15
4   2023-05   2943005.99           2895950.92
5   2023-06   2864500.03           2890709.10
6   2023-07   2337639.34           2811699.14
7   2023-08   2623919.79           2788226.72
8   2023-09   2622774.85           2769843.18
9   2023-10   2551322.61           2747991.12
10  2023-11   2700103.38           2743637.69
11  2023-12   2928550.93           2759047.13